<div class="row initial-search">
  <div class="col s10 offset-s1">
    <div>
      <p>Search oMDb using the fields below.</p>
    </div>
    <div class="row">
      <div class="search-input col s8 offset-s0">
        <label>Title</label>
        <input type="text" ng-model="searchedMovie.movie">
      </div>
      <div class="search-input col s3 push-s1">
        <label>Year</label>
        <input type="text" ng-model="searchedMovie.year">
      </div>
    </div>
    <div class="col s2 offset-s5">
      <button ng-click="searchOMDBFunction()">Submit</button>
    </div>
</div>
</div>