<div class="row initial-search">
  <div class="col s10 offset-s1">
    <div>
      <p>Search oMDb using the fields below.</p>
    </div>
    <div class="row">
      <div class="search-input col s10 offset-s1">
        <label>Movie Title</label>
        <input type="text">
      </div>
     <div class="col s10 offset-s1">
       <div class="row">
          <div class="initial-search-lower search-input col s4 offset-s1">
            <label>Release Year</label>
            <input type="text">
          </div>
          <div class="initial-search-lower search-type search-input col s4 offset-s2">
            <label>Search by Type</label>
              <select class="browser-default">
                <option value="" disabled selected>Select</option>
                <option value="1">Movie</option>
                <option value="2">Episode</option>
                <option value="3">Series</option>
              </select> 
          </div>
        </div>
      </div>
    </div>
    <div class="col s2 offset-s5">
      <button>Submit</button>
    </div>
</div>
</div>