<div class="row login">
  <div class="col s4 offset-s4">
    <h2>Login:</h2>
  </div>
  <div>
    <div class="col s4 offset-s4 login-input">
      <label>Email</label>
      <input type="text" ng-model="account.email">
    </div>
  </div>
  <div>
    <div class="col s4 offset-s4 login-input">
      <label>Password</label>
      <input type="password" ng-model="account.password">
    </div>
  </div>
  <div class="col s4 offset-s4">
    <button ng-click="login()">Click One</button>
    <button ng-click="register()">Click Two</button>
  </div>
</div>